body{background: #8dd2f2;
    margin: 0;
    padding: 0;
}

.pregunta{width:88%;
          height:15%;
          background: #126b97;
          margin: 3%;
          margin: 0 auto;
          justify-content: center;
          align-content: center;
          font-family: Roboto;
        }

.pregunta.h1{text-align: center;
            font-weight: bold;
            font-size:1rem;
            color:red;
            }
.pregunta[id="a"]{text-align: center;
            font-weight: bold;
            font-size:1rem;
            color:red;
                        }

.respuesta{width:100%;
          height:15%;
          background: white;
          margin-top:3%;
          margin-bottom: 3%;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          font-size: 1em;
          font-weight: bold;
        }

.boton{
      background: #126b97;
      width: 15%;
      height:7%;
      border-radius: 1rem;
      font-family: Roboto;
      position:fixed;
      top:80%;
      margin:0 auto;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      text-align: center;
      }
