div {
  background-color: maroon;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
}
ul {
  /*background-color: green;*/
  overflow: visible;
  margin: 0;
  padding: 0;
  /* width: 800px;*/
  clear: both;
  margin-bottom: 100px;

}

li {
  display:block;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 0;
  float: left;
}

li:nth-child(2n){
  background-color: white;
}

ul:nth-child(2n) li {
  background-color: white;
}
ul:nth-child(2n) li:nth-child(2n){
  background-color: black;
}
p {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-color: red;
    box-shadow: 2px 2px 5px black,
                inset 7px 7px 20px white;
    /*position: relative;*/
    top: 200px;
  }
/*li:first-child{
  background-color: none;
  background-image: linear-gradient(45deg, maroon 10%,orange 90%);*/
}
ul:nth-child(n+6) p{
  background-color: black;
}
