body{
  margin: 0px;
  padding: 0px;
}
div{
  width: 200px;
  height: 200px;
  background-color: chartreuse;
  margin: 10px;
  font-size: 96px;

}
.prova{
  background-color: tomato;
  position: absolute;
  margin: 0
  top: 40px;
  left: 400px;

}
.prova2{
  background-color: cyan;
  position: absolute;
  margin: 0
  top: 60px;
  left: 420px;

}
